#!/usr/bin/bash
mkdir -p "$(direnv_layout_dir)"
extraNixFlags="--allow-import-from-derivation --accept-flake-config"
nixOverrides=()
if [ -d "$HOME/src/me/tools" ]; then nixOverrides+=(--override-input tools "git+file://$HOME/src/me/tools"); fi
export NIX_OVERRIDES=$(IFS=, echo "${nixOverrides[*]}")
dotenv
use flake . --show-trace --refresh --impure $extraNixFlags "${nixOverrides[@]}"
