#!/usr/bin/bash
mkdir -p "$(direnv_layout_dir)"
nixOverrides=()
if [ -d "$HOME/src/me/tools" ]; then nixOverrides+=(--override-input tools "path:$HOME/src/me/tools"); fi
export NIX_OVERRIDES=$(IFS=, echo "${nixOverrides[*]}")
dotenv
use flake . --show-trace --refresh --impure "${nixOverrides[@]}"
